################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www


############# Container source.list ############
REPLACE_SOURCE_LIST=true


#################### Nginx #####################
NGINX_VERSION=1.15.6-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./nginx/conf/conf.d
NGINX_CONF_FILE=./nginx/conf/nginx.conf
NGINX_LOG_DIR=./nginx/log


#################### PHP7.2 ####################
PHP72_VERSION=7.2
PHP72_XDEBUG=2.6.1
PHP72_SWOOLE=4.2.1
PHP72_REDIS=4.1.1
PHP72_PHP_CONF_FILE=./php/7_2/conf/php.ini
PHP72_FPM_CONF_FILE=./php/7_2/conf/php-fpm.conf


#################### PHP5.6 ####################
PHP56_VERSION=5.6
PHP56_XDEBUG=2.5.5
PHP56_SWOOLE=2.0.11
PHP56_REDIS=4.1.1
PHP56_PHP_CONF_FILE=./php/5_6/conf/php.ini
PHP56_FPM_CONF_FILE=./php/5_6/conf/php-fpm.conf


#################### PHP5.4 ####################
PHP54_VERSION=5.4
PHP54_XDEBUG=2.4.1
PHP54_SWOOLE=false
PHP54_REDIS=4.1.1
PHP54_PHP_CONF_FILE=./php/5_4/conf/php.ini
PHP54_FPM_CONF_FILE=./php/5_4/conf/php-fpm.conf

MYSQL_ROOT_PASSWORD=123456
#################### MySQL8 #####################
MYSQL8_VERSION=8.0
MYSQL8_HOST_PORT=3307
MYSQL8_DATA_DIR=./mysql/8/data
MYSQL8_CONF_FILE=./mysql/8/conf/mysql.cnf
MYSQL8_LOGS_DIR=./mysql/8/logs


#################### MySQL5.6 #####################
MYSQL56_VERSION=5.6
MYSQL56_HOST_PORT=3306
MYSQL56_DATA_DIR=./mysql/5_6/data
MYSQL56_CONF_FILE=./mysql/5_6/conf/mysql.cnf
MYSQL56_LOGS_DIR=./mysql/5_6/logs


#################### Redis #####################
REDIS_VERSION=alpine
REDIS_HOST_PORT=6379


################## phpMyAdmin ##################
PHPMYADMIN_HOST_PORT=8080


################# redisMyAdmin #################
REDISMYADMIN_HOST_PORT=8081